@model Categoria

@{
    ViewData["Title"] = "CategoriaCreate";
}

<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Creacion de Categorias</h5>
        <a asp-action="CategoriaHome"
            class="btn btn-success"><i class="fa-solid fa-arrow-left m-1"></i>Volver a la Administracion</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CategoriaCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Agregar Categoria" class="btn btn-success col-12" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
